<!-- Footer -->
<footer>
  <div class="container">
    <ul class="list-inline">
      <li>
        <%= link_to 'https://github.com/saifjilani/Agile-Sprint-App' do %>
          <i class="fa fa-github fa-3x github-icon" aria-hidden="true"></i>
        <% end %>
      </li>
    </ul>
  <p class="copyright text-muted small">Copyright &copy; 2017. All Rights Reserved</p>
  </div>
</footer>
