<div class="col-lg-6 col-sm-6">
  <h2 class="section-heading how-it-works-steps">How It Works</h2>
  <hr class="section-heading-spacer">
  <div class="clearfix"></div>
  <ul class="list-inline">
    <li>
      <i class="fa fa-tasks fa-5x" aria-hidden="true"></i>
      <p class="lead"> Create Tasks<br>
    </li>
    <li class="footer-menu-divider">&sdot;</li>
    <li>
      <i class="fa fa-hourglass-o fa-5x" aria-hidden="true"></i>
      <p class="lead">Estimate Hours<br>
    </li>
    <li class="footer-menu-divider">&sdot;</li>
    <li>
      <i class="fa fa-user-plus fa-5x" aria-hidden="true"></i>
      <p class="lead">Assign Sprinters<br>
    </li>
  </ul>
</div>
