<ul class="list-inline intro-social-buttons">
  <li>
    <%= link_to '/auth/facebook', class: 'btn btn-block btn-social btn-facebook' do %>
      <span class="fa fa-facebook"></span>Sign in with Facebook
    <% end %>
  </li>
  <li>
    <%= link_to '/auth/google', class: 'btn btn-block btn-social btn-google' do %>
      <span class="fa fa-google"></span>Sign in with Google
    <% end %>
  </li>
</ul>
