<div class="intro-header">
  <div class="container">
    <%= render 'shared/flash' %>
    <%= render 'headline', current_user: current_user %>
  </div>
  <!-- /.container -->
</div>
<!-- /.intro-header -->
